/********************************************************************************/
/* Default CSS for elements.							*/
/********************************************************************************/


/********************************************************************************/
/* Headers.									*/
/********************************************************************************/

h1, h2, h3
	{
	padding: 0;
	font-weight: bold;
	}


/********************************************************************************/
/* Strongs and emphases.							*/
/********************************************************************************/

strong
	{
	font-weight: bold;
	}

em	{
	font-style: italic;
	}


/********************************************************************************/
/* Links.									*/
/********************************************************************************/

a
	{
	text-decoration: none;
	color: #316b8c;
	}

a:hover, a:active

	{
	color: red;
	}

/********************************************************************************/
/* Lists.									*/
/********************************************************************************/

dt
	{
	float: left;
	width: 9em;
	margin-right: 0.5em;
	text-align: right;
	font-weight: bold;
	}

