/********************************************************************************/
/* Canvas CSS. 									*/
/********************************************************************************/

#canvas
	{
	position: relative;
	float: left;
	width: 100%;
	padding: 0;		/* Sets CC padding */
	margin-bottom: 1em;
	}

#canvas_header
	{
	padding: 0.2em;
	text-align: center;
	color: #fff;
	background: #5b8ba6;
	margin-bottom: 2em;
	}

.error_msg
	{
	margin: 1em;
	padding: 0.5em;
	font-weight: bold;
	color: #fff;
	background: #995454;
	}

.success_msg
	{
	margin: 1em;
	padding: 0.5em;
	font-weight: bold;
	color: #fff;
	background: #54997a;
	}

