/********************************************************************************/
/* Story CSS. 									*/
/********************************************************************************/

.story_blurb
	{
	margin-bottom: 2em;
	}

.story_meta
	{
	margin: 0 0 1em;
	padding: 0.25em;
	min-height: 2.75em;
	background: #e4f0f7;
	}

.story_title
	{
	margin-bottom: 0.25em;
	}

.story_author
	{
	float: left;
	}

.story_author:before
	{
	content: 'by ';
	}

.own_element .story_author:after
	{
	content: '(You!)';
	color: red;
	}

.story_timestamp
	{
	float: left;
	margin-left: 0.5em;
	}

.story_timestamp:before
	{
	content: 'on ';
	}

.story_intro
	{
	clear: left;
	margin: 1em 0 0.5em;
	padding: 0 0.25em;
	text-align: justify;
	}

.story_body
	{
	margin: 1em 0 3em;
	padding: 1em 0 3em;
	border-top: 1px solid #666;
	border-bottom: 3px dotted #000;
	text-align: justify;
	}

.story_comments
	{
	padding-bottom: 1em;
	border-bottom: 3px dotted #000;
	}

.story_add_comment
	{
	margin-top: 3em;
	padding: 1em;
	background: #eee;
	}

