/********************************************************************************/
/* User CSS. 									*/
/********************************************************************************/

.user h2
	{
	}

.user > h1
	{
	margin: 1em 0 0.5em;
	}

.user ul
	{
	margin-left: 2em;
	list-style-type: disc;
	}

.user li
	{
	margin: 0.25em 0;
	}

