/********************************************************************************/
/* Header CSS. 									*/
/********************************************************************************/

#header
	{
	margin: 1em 0;
	}

#header > h1
	{
	padding-left: 120px;
	padding-top: 40px;
	padding-bottom: 80px;
	font-size: 2em;
	font-weight: bold;
	color: #5b8ba6;
	background: url('lambdium-logo.png') no-repeat;
	}
