/********************************************************************************/
/* General stylesheet configuration.						*/
/********************************************************************************/

/********************************************************************************/
/* Layout configuration.							*/
/********************************************************************************/

@LC_width: 160px;
@LCL_padding: 10px;
@LCR_padding: 10px;

@RC_width: 180px;
@RCL_padding: 10px;
@RCR_padding: 10px;

@CC_maxwidth: 300px;
@CCL_padding: 10px;
@CCR_padding: 10px;


/********************************************************************************/
/* Colour scheme configuration.							*/
/********************************************************************************/

