html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, button
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	}

:focus
	{
	outline: 0;
	}

body
	{
	line-height: 1;
	color: black;
	background: white;
	}

ol, ul
	{
	list-style: none;
	}

table
	{
	border-collapse: separate;
	border-spacing: 0;
	}

caption, th, td
	{
	text-align: left;
	font-weight: normal;
	}

body
	{
	margin: 10px;
	font: 0.625em sans-serif;
	line-height: 1.5;
	background: #fff;
	}

#root
	{
	margin: 0 auto;
	padding-left: 190px;
	padding-right: 210px;
	min-width: 190px;
	max-width: 700px;
	}

#header, #footer
	{
	margin-left: -190px;
	margin-right: -210px;
	}

#header
	{
	padding-bottom: 20px;
	}

#footer
	{
	clear: both;
	padding-top: 20px;
	}

#core
	{
	position: relative;
	float: left;
	padding: 0 0px 0 0px;
	width: 100%;
	}

#nav
	{
	position: relative;
	float: left;
	width: 160px;
	padding: 0 30px 0 0px;
	right: 190px;
	margin-left: -100%;
	}

#context
	{
	position: relative;
	float: left;
	width: 180px;
	padding: 0 0px 0 30px;
	margin-right: -100%;
	}

#header > h1
	{
	font: bold 1.8em sans-serif;
	margin-left: 190px;
	margin-right: 210px;
	padding-left: 120px;
	line-height: 120px;
	color: #5b8ba6;
	background: #fff url("images/lambdium-logo.png") no-repeat;
	}

#footer > h1
	{
	margin-left: 190px;
	margin-right: 210px;
	text-align: center;
	font: bold 1.4em sans-serif;
	color: #fff;
	background: #5b8ba6;
	}

#footer > ul
	{
	text-align: center;
	margin: 1em auto 0;
	}

#footer > ul > li
	{
	display: inline;
	margin: 0 1em;
	}

.floatbox
	{
	margin-bottom: 20px;
	background: #eee;
	}

.floatbox_header
	{
	margin-bottom: 0.5em;
	text-align: center;
	font: bold 1.4em sans-serif;
	color: #eee;
	background: #5b8ba6;
	}

.floatbox_body
	{
	padding: 0 0.5em 0.5em;
	}

.floatbox input[type="text"], .floatbox input[type="password"], .floatbox input[type="submit"]
	{
	width: 100%;
	margin-bottom: 0.5em;
	}

.floatbox input[type="submit"]
	{
	margin-top: 0.5em;
	}

#core_status
	{
	padding: 0.5em;
	margin-bottom: 1em;
	text-align: center;
	font: bold 1.4em sans-serif;
	color: #fff;
	}

.core_success
	{
	background: #007f00;
	border: none;
	}

.core_warning
	{
	background: #3f3f00;
	border: none;
	}

.core_failure
	{
	background: #7f0000;
	border: none;
	}

