.floatbox
	{
	margin: 0 0 2em;
	}

.floatbox_header
	{
	padding: 0.2em;
	text-align: center;
	color: #fff;
	background: #5b8ba6;
	}

.floatbox_body
	{
	padding: 0.5em;
	}

.floatbox input[type="text"],
.floatbox input[type="password"],
.floatbox input[type="submit"]
	{
	width: 100%;
	margin-bottom: 0.5em;
	}

.floatbox input[type="submit"]
	{
	margin-top: 0.5em;
	}

